<html>
<body>
	<h1>Pagina de Prueba de Persistencia</h1>	

	<ul>
        <li>
       	Agregamos Emisor Centelsa con Customers
       	<div class="form-group">
				<button class="btn btn-success" ng-click="agregarEmisorUno()">Agregar Emisor Uno</button>					
		</div>          
        </li>

        <li>
       	Agregamos Emisor Cimas Tech con Customers
       	<div class="form-group">
				<button class="btn btn-success" ng-click="agregarEmisorDos()">Agregar Emisor Dos</button>					
		</div>          
        </li>

		<li>
       	Agregamos Documento Uno
       	<div class="form-group">
				<button class="btn btn-success" ng-click="agregarDocumentoUno()">Agregar Documento Uno</button>								
		</div>          
        </li>

		<li>
       	Agregamos Documento Dos
       	<div class="form-group">
				<button class="btn btn-success" ng-click="agregarDocumentoDos()">Agregar Documento Dos</button>								
		</div>          
        </li>






      </ul>



	


</body>
</html>