		<div ng-controller="ConsultaCtrl" ng-init="loadPage()" 
				class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h3>Consulta Documentos</h3>
			<div>
				<div>
				<button class="btn btn-default" ng-click="refresh()">Actualizar <span class="glyphicon glyphicon-refresh"></span></button>
				<button class="btn btn-default" ng-click="isCollapsed = !isCollapsed">Filtros</button>
				</div>
				<div collapse="isCollapsed">
					<div class="well well-lg">
						<form class="form-horizontal" role="form" name="formFilter" novalidate>
								
								<div class="form-group" ng-controller="DatePickerController">								
										<label  for="inBeginDate" class="col-md-2 control-label input-sm">
										Fecha Inicial:</label>
										<div class="col-md-3">
											<p class="input-group">
												<input id="inBeginDate" type="text" class="form-control input-sm" 
													close-text="Cerrar" show-button-bar="false"
													is-open="openedBeginDate" datepicker-options="dateParamOptions"   
													datepicker-popup="{{dateParamFormat}}" ng-model="filter.beginIssueDate" />
												
												<span class="input-group-btn">
													<button type="button" class="btn btn-default input-sm" 
														ng-click="openBeginDate($event)"><i class="glyphicon glyphicon-calendar">
													</i></button>
												</span>
											</p>
										</div>
										
										<label for="inEndDate" class="col-md-2 control-label input-sm">
										Fecha Final:</label>
										<div class="col-md-3">
											<div>
												<p class="input-group">
													<input id="inEndDate" type="text" class="form-control input-sm" 
														close-text="Cerrar" show-button-bar="false"
														is-open="openedEndDate" datepicker-options="dateParamOptions"
														datepicker-popup="{{dateParamFormat}}" ng-model="filter.endIssueDate" />

													<span class="input-group-btn">
														<button type="button" class="btn btn-default input-sm" 
															ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar">
														</i></button>
													</span>

												</p>
											</div>
										</div> 
								</div>
						
								<div class="form-group">
										<label for="inDocumentType" class="col-md-2 control-label input-sm">Tipo de Documento:</label>
										<div class="col-md-3">
												<select class="form-control input-sm" id="typeId" 
														ng-options="i.descr for i in listDocTypes" 
														ng-model="filter.documentTypeSelected">
												</select>
										</div>

										<label for="inDocumentType" class="col-md-2 control-label input-sm">Cliente:</label>
										<div class="col-md-3">
												<select class="form-control input-sm" id="customerId" 
														ng-options="i.name for i in listCustomer" 
														ng-model="filter.customerSelected">
												</select>
										</div>
								</div>

								<div class="form-group">
										<label for="inBeginDocumentNumber" class="col-md-2 control-label input-sm">
										Nro Documento Inicial:</label>
										<div class="col-md-2">
												<input id="inBeginDocumentNumber" min="0" type="number" 
													class="form-control input-sm" name="beginSequence" 
													ng-model="filter.beginSequence" />
												<span class="error input-sm" ng-show="!formFilter.beginSequence.$valid">
														Número Invalido!</span>
												<span class="error input-sm" ng-show="filter.beginSequence > filter.endSequence">
														Debe ser menor o igual a documento final.</span>
										</div>

										<label for="inEndDocumentNumber" class="col-md-2 control-label input-sm">
										Nro Documento Final:</label>
										<div class="col-md-2">
												<input id="inEndDocumentNumber" min="0" type="number" class="form-control input-sm" name="endSequence" ng-model="filter.endSequence"/>	
												<span class="error input-sm" ng-show="!formFilter.endSequence.$valid">
													Número Invalido!</span>
												<span class="error input-sm" ng-show="filter.beginSequence > filter.endSequence">
													Debe ser mayor o igual a documento inicial.</span>
										</div>	
								</div>

								<br>
								<div class="form-group">
									<button class="btn btn-success" ng-click="filter()" 
											ng-disabled="!enableFilter()">Buscar</button>
									<button class="btn btn-success" ng-click="clear()" 
											ng-disabled="enableClear()">Limpiar</button>
								</div>
						</form>
					</div>
				</div>

				<div ng-show="pbResultRefresh">
						<progressbar class="progress-striped active" value="pbValue" type="success">Cargando datos</progressbar>
				</div>
			</div>

			<br>
			<div ng-controller="PaginationCtrl">
					<div class="row headerTable">
							<div class="col-sm-2 text-center"><label>Fecha</label></div>
							<div class="col-sm-3 text-left"><label>Nro Documento<br>Cliente</label></div>
							<div class="col-sm-1 text-center"><label>Tipo</label></div>
							<div class="col-sm-2 text-center"><label>Total</label></div>
							<div class="col-sm-1 text-center"><label>Estado</label></div>
							<!--<div class="col-sm-1 text-center"><label></label></div> -->
							<div class="col-sm-2 text-center"><label></label></div>
					</div>
			
					<div id="resultset" class="row" ng-class-odd="'odd'" ng-class-even="'even'" 
							ng-repeat="item in listDocuments | offset: (currentPage-1) * itemsPerPage | limitTo:itemsPerPage">

							<div class="col-sm-2 text-center input-sm">{{item.fechaEmision}}</div>
							<div class="col-sm-3 text-left ">{{item.nroDocumento}}<br><small> 
								{{item.razonSocialComprador}}</small></div>
							<div class="col-sm-1 text-center input-sm">{{getDocumentTypeDesc(item.codigoDocumento)}}</div>
							<div class="col-sm-2 text-center input-sm">{{getCurrencyPrefix(item.moneda)}} 
								{{item.importeTotal}}</div>
							<div class="col-sm-1 text-center input-sm">{{item.estadoTransaccion}}</div>

							<!-- <div class="col-sm-1 text-center input-sm"><input type="checkbox" ng-model="documentSelected"></div> -->

		          			<div  class="col-sm-2 text-center">
				          			<div  ng-if="disableButtons(item.estadoTransaccion)" class="btn-group" dropdown>
				          				<button type="button" class="btn btn-primary" 
				          						ng-click="downloadFile('{{item.codigoDocumento}}', 
				          						'{{item.codigoDocumento}}', '{{item.nroDocumento}}.PDF')">PDF 
				          						<span class="glyphicon glyphicon-download-alt"></span>
				          				</button>
				          				<button type="button" class="btn btn-primary dropdown-toggle">
				          					<span class="caret"></span>
				          				</button>
				          				<ul class="dropdown-menu" role="menu">
				          					<li><a href  ng-click="downloadFile('{{item.nroDocumento}}.PDF')">Descargar PDF 
				          						<span class="glyphicon glyphicon-download-alt"></a></li>
				          					<li><a href  ng-click="downloadFile('{{item.nroDocumento}}.xml')">Descargar XML 
				          						<span class="glyphicon glyphicon-download-alt"></a></li>
				          					<li><a href ng-click="openModalEmail('{{item.codigoDocumento}}-{{item.codEstablecimiento}}{{item.codPuntEmision}}-{{item.secuencial}}')">Enviar PDF y XML <span class="glyphicon glyphicon-envelope"></a></li>
				          				</ul>				          				
				          			</div>

									<div  ng-if="allowed() && item.estadoTransaccion.trim() == 'CT'" class="btn-group" dropdown>
				          				<button type="button" ng-click="openModalReprocess('{{item.codigoDocumento}}-{{item.codEstablecimiento}}{{item.codPuntEmision}}-{{item.secuencial}}')" class="btn btn-warning">Reprocesar <span class="glyphicon glyphicon-warning-sign"></span></button>
				          			</div>
									<div  ng-if="allowed() && item.estadoTransaccion.trim() == 'RR'" class="btn-group" dropdown>
				          				<span class="label label-default">En reproceso</span>
				          			</div>
		          			</div>
				</div>
				<div>
						<pagination total-items="totalItems" ng-model="currentPage" previous-text="Anterior" next-text="Siguiente"></pagination>
				</div>
			</div>



			<!--<div>
			<div>
			<button type="button" class="btn btn-primary" ng-click="open2()">Enviar Correo Selección <span class="glyphicon glyphicon-envelope"></span></button> 
			</div>
			</div>-->
			



			<script type="text/ng-template" id="EmailModalContent.html">
					<div class ="modal-header">
						<h3 class="modal-title">Envio de Correo</h3>
					</div>
					<div class="modal-body">
						<div><span>Se enviaran por correo los siguientes archivos : </span></div>
						<div>
							<ul>
								<li>{{items[0]}}.PDF.</li>
								<li>{{items[0]}}.ZIP, contiene XML respuesta SUNAT.</li>
							</ul>

						</div>
						<div>
							<span>Ingrese correos destino adicionales de envio, separados con <strong>;</strong>.</span>
						</div>
						<div>
							<textarea class="form-control" ng-model="listEmails" ng-required="true"></textarea>
						</div>

					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="ok()" ng-disabled="!listEmails">Enviar... <span class="glyphicon glyphicon-envelope"></button>
						<button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
					</div>
				</script>
				<script type="text/ng-template" id="ReprocessModalContent.html">
					<div class ="modal-header">
						<h3 class="modal-title">Reproceso de documento</h3>
					</div>
					<div class="modal-body">
						<div><span>Esta seguro de reprocesar el comprobante ? </span></div>
						<div>
							<ul>
								<li>{{items[0]}}</li>
							</ul>

						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="ok()">Aceptar</button>
						<button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
					</div>
				</script>
		</div>
