<div ng-controller="EmitterCtrl" ng-init="loadPage()" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<h3>Configuración Empresa Emisora</h3>
		<pre><small>Ingrese datos de configuración de ambiente de una nueva empresa emisora, o seleccione una de la lista inferior si requiere modificar datos.</small></pre>
		<hr>
		<div>
			<form class="form-horizontal" role="form">
						<h3> <font size=4>Datos Generales</font></h3>
						<div class="form-group">
							<label for="inCompanyId" class="col-sm-3 control-label">RUC:</label>
							<div class="col-sm-3">
								<input type="text" id="inCompanyId" ng-disabled="inInquiry || inEdit" class="form-control input-sm" ng-model="emitter.identification">
							</div>
						</div>
						<div class="form-group">
							<label for="inCompanyName" class="col-sm-3 control-label">Razón Social:</label>
							<div class="col-sm-8">
								<input type="text" id="inCompanyName" ng-disabled="inInquiry || inEdit" class="form-control input-sm" ng-model="emitter.name">
							</div>
						</div>
						<div class="form-group">
							<label for="inCompanyCommercialName" class="col-sm-3 control-label">Razón Comercial:</label>
							<div class="col-sm-8">
								<input type="text" id="inCompanyCommercialName" ng-disabled="inInquiry || inEdit"  class="form-control input-sm" ng-model="emitter.businessName">
							</div>
						</div>
						<div class="form-group">
							<label for="inCompanyAddress" class="col-sm-3 control-label">Dirección:</label>
							<div class="col-sm-8">
								<input type="text" id="inCompanyAddress"  ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.address">
							</div>
						</div>
						<div class="form-group">
							<label for="inCompanyActive" class="col-sm-3 control-label">Activo:</label>
							<div class="col-sm-1">
								<input type="checkbox" ng-disabled="inInquiry" ng-true-value="Y" ng-false-value="F" id="inCompanyActive" class="input-sm" ng-model="emitter.active">
							</div>
						</div>
						<h3> <font size=4>Rutas de Procesamiento</font></h3>

						<div class="form-group">
							<label for="inPathGen" class="col-sm-3 control-label">Comprobantes Generados:</label>
							<div class="col-sm-8">
								<input type="text" id="inPathGen" ng-disabled="inInquiry"  class="form-control input-sm" ng-model="emitter.pathGen">
							</div>
						</div>
						<div class="form-group">
							<label for="inPathRec" class="col-sm-3 control-label">Comprobantes Recibidos:</label>
							<div class="col-sm-8">
								<input type="text" id="inPathRec" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.patchRec">
							</div>
						</div>
						<div class="form-group">
							<label for="inPathSig" class="col-sm-3 control-label">Comprobantes Firmados:</label>
							<div class="col-sm-8">
								<input type="text" id="inPathSig" ng-disabled="inInquiry"  class="form-control input-sm" ng-model="emitter.pathSig">
							</div>
						</div>
						<div class="form-group">
							<label for="inPathAut" class="col-sm-3 control-label">Comprobantes Autorizados:</label>
							<div class="col-sm-8">
								<input type="text" id="inPathAut" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.pathAut">
							</div>
						</div>
						<div class="form-group">
							<label for="inPathRej" class="col-sm-3 control-label">Comprobantes Rechazados:</label>
							<div class="col-sm-8">
								<input type="text" id="inPathRej"  ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.pathRej">
							</div>
						</div>
						<div class="form-group">
							<label for="inPathRep" class="col-sm-3 control-label">Plantillas Representación Impresa:</label>
							<div class="col-sm-8">
								<input type="text" id="inPathRep" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.pathJas">
							</div>
						</div>
						<h3> <font size=4>Configuración Correo</font></h3>
						<div class="form-group">
							<label for="inSMTPServer" class="col-sm-3 control-label">Servidor SMTP:</label>
							<div class="col-sm-4">
								<input type="text" id="inSMTPServer" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.smtpServer">
							</div>
						</div>
						<div class="form-group">
							<label for="inSMTPPort" class="col-sm-3 control-label">Puerto SMTP:</label>
							<div class="col-sm-2">
								<input type="text" id="inSMTPPort" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.smtpPort">
							</div>
						</div>
						<div class="form-group">
							<label for="inSMTPAut" class="col-sm-3 control-label">Usar Autentificación SMTP:</label>
							<div class="col-sm-5">
								<input type="checkbox" id="inSMTPAut" ng-disabled="inInquiry" ng-true-value="Y" ng-false-value="F" class="input-sm" ng-model="emitter.flagSmtp">
							</div>
						</div>
						<div class="form-group">
							<label for="inSMTPUser" class="col-sm-3 control-label">Usuario Autentificación SMTP:</label>
							<div class="col-sm-5">
								<input type="text" id="inSMTPUser" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.smtpUser">
							</div>
						</div>
						<div class="form-group">
							<label for="inSMTPPass" class="col-sm-3 control-label">Contraseǹa Autentificación SMTP:</label>
							<div class="col-sm-5">
								<input type="password" id="inSMTPPass" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.smtpPassword">
							</div>
						</div>
						<div class="form-group">
							<label for="inSMTPEmail" class="col-sm-3 control-label">Correo de Envio:</label>
							<div class="col-sm-5">
								<input type="text" id="inSMTPEmail" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.smtpMail">
							</div>
						</div>
						
						<div class="form-group">
							<label for="inReceiveEmail" class="col-sm-3 control-label">Correo de Recepción:</label>
							<div class="col-sm-5">
								<input type="text" id="inReceiveEmail" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.receiveMail">
							</div>
						</div>

						<div class="form-group">
							<label for="inUserReceiveEmail" class="col-sm-3 control-label">Usuario Correo de Recepción:</label>
							<div class="col-sm-5">
								<input type="text" id="inUserReceiveEmail" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.userReceiveMail">
							</div>
						</div>

						<div class="form-group">
							<label for="inPassReceiveEmail" class="col-sm-3 control-label">Contraseña Usuario Correo de Recepción:</label>
							<div class="col-sm-5">
								<input type="password" id="inPassReceiveEmail" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.passReceiveMail">
							</div>
						</div>
						<h3> <font size=4>Certificado Digital</font></h3>
						<br>
						<div class="form-group">
							<label for="inKSPath" class="col-sm-3 control-label">Ruta Almacén de Certificado:</label>
							<div class="col-sm-5">
								<input type="text" id="inCertPath" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.pathCertificate">
							</div>
						</div>
						<div class="form-group">
							<label for="inCertType" class="col-sm-3 control-label">Tipo de Almacén de Certificado:</label>
							<div class="col-sm-2">
								<input type="text" id="inCertPath" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.certificateType">
							</div>
						</div>

						<div class="form-group">
							<label for="inCerAlias" class="col-sm-3 control-label">Alias Certificado Privado:</label>
							<div class="col-sm-3">
								<input type="text" id="inCerAlias" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.certificateAlias">
							</div>
						</div>

						<div class="form-group">
							<label for="inCerPass" class="col-sm-3 control-label">Contraseña Certificado Privado:</label>
							<div class="col-sm-3">
								<input type="password" id="inCerAlias" ng-disabled="inInquiry" class="form-control input-sm" ng-model="emitter.certificatePassword">
							</div>
						</div>
					
				<hr>
				 <button class="btn btn-success" ng-click="save()" ng-disabled="!enableFilter()">Grabar</button>
				<button class="btn btn-success" ng-click="clear()">Limpiar</button>
			</form>
			<br>
			<div>
				<div class="row headerTable">
					<div class="col-sm-1 text-center"><label>RUC</label></div>
					<div class="col-sm-5 text-center"><label>Razón Social</label></div>
					<div class="col-sm-2 text-center"><label>Estado</label></div>
					<div class="col-sm-2 text-center"><label>Acción</label></div>
				</div>
				<div id="resultset" class="row" ng-class-odd="'odd'" ng-class-even="'even'" ng-repeat="item in listEmitter">
				<div class="col-sm-1 text-center input-sm">{{item.identification}}</div>
				<div class="col-sm-5 text-center input-sm">{{item.name}}</div>
				<div class="col-sm-2 text-center"><input ng-disabled="true" type="checkbox" ng-true-value="Y" ng-false-value="N" ng-model="item.active"></div>
      			<div class="col-sm-2 text-center">
          					<div class="btn-group" dropdown>
          				<button type="button" ng-click="inquiry({{$index}})" class="btn btn-primary"><span class="glyphicon glyphicon-zoom-in"></span></button>
          				<button type="button" class="btn btn-primary dropdown-toggle">
          					<span class="caret"></span>
          				</button>
          				<ul class="dropdown-menu" role="menu">
							<li><a href ng-click="edit({{$index}})" ng-disabled="!enableFilter()">Editar <span class="glyphicon glyphicon-pencil"></span></a></li>
          					<li><a href ng-click="deleteModal({{item}})">Eliminar <span class="glyphicon glyphicon-remove"></span></a></li>
          				</ul>
          			</div>
      			</div>
			</div>
			</div>
		</div>

			<script type="text/ng-template" id="DelModalContent.html">
					<div class ="modal-header">
						<h3 class="modal-title">Eliminación de Emisor</h3>
					</div>
					<div class="modal-body">
						<div><span>Esta seguro de eliminar el emisor: </span></div>
						<div>
							<ul>
								<li>{{items[0].name}}</li>
							</ul>

						</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" ng-click="ok()">Eliminar</button>
						<button class="btn btn-warning" ng-click="cancel()">Cerrar</button>
					</div>
				</script>


	</div>
