		<div ng-controller="MenuCtrl" ng-init="loadPage()" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<h3>Asignación Rol a Opciones de Menu</h3>
			<pre><small>Seleccione Rol.</small></pre>
			<hr>
			<div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="inRoleCode" class="col-sm-3 control-label">Código de Rol:</label>
					<div class="col-sm-3">
						<select class="form-control" id="inRoleCode" ng-options="i.descripcion for i in listRole" ng-model="role"></select>
					</div>
				</div>
			</form>
			<pre><small>Marque las opciones a las cuales tendra acceso el Rol seleccionado.</small></pre>
			<hr>
			<ul class="list-group">
  				<li class="list-group-item active"><input ng-change="toggleOptions(0)" type="checkbox" ng-model="opcion0"> Consulta</li>
  					<ul class="list-group-item">
  						<li class="list-group-item"><input ng-change="toggleOptions(1)" type="checkbox" ng-model="opcion01"> Documentos</li>
  					</ul>
  				<li class="list-group-item active"><input ng-change="toggleOptions(2)" type="checkbox" ng-model="opcion1"> Administración</li>
  					<ul class="list-group-item">
  						<li class="list-group-item"><input ng-change="toggleOptions(3)" type="checkbox" ng-model="opcion11"> Clientes</li>
  						<li class="list-group-item"><input ng-change="toggleOptions(4)" type="checkbox" ng-model="opcion12"> Usuarios</li>
  						<li class="list-group-item"><input ng-change="toggleOptions(5)" type="checkbox" ng-model="opcion13"> Roles</li>
  						<li class="list-group-item"><input ng-change="toggleOptions(6)" type="checkbox" ng-model="opcion14"> Roles - Menu</li>
  					</ul>
  				<li class="list-group-item active"><input ng-change="toggleOptions(7)" type="checkbox" ng-model="opcion2"> Ingreso Manual</li>
  					<ul class="list-group-item">
  						<li class="list-group-item"><input ng-change="toggleOptions(8)" type="checkbox" ng-model="opcion21"> Facturas</li>
  						<li class="list-group-item"><input ng-change="toggleOptions(9)" type="checkbox" ng-model="opcion22"> Notas de Crédito</li>
  						<li class="list-group-item"><input ng-change="toggleOptions(10)" type="checkbox" ng-model="opcion23"> Notas de Débito</li>
  					</ul>
  				<li class="list-group-item active"><input ng-change="toggleOptions(11)" type="checkbox" ng-model="opcion3"> Configuración</li>
  					<ul class="list-group-item">
  						<li class="list-group-item"><input ng-change="toggleOptions(12)" type="checkbox" ng-model="opcion31"> Empresa Emisora</li>
  					</ul>
			</ul>

			<button class="btn btn-success" ng-click="ok()">Grabar</button>
			</div>


		</div>
